.form-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 12vh;
	width: 40vw;
	height: auto;
	color: white;
	border-radius: 20px;
	background: rgba(0, 0, 0, 0.75);
}

.form {
	margin-bottom: 2vh;
	width: 60%;
}

.form input {
	background: transparent;
	border: none;
	border-bottom: solid 1px white;
	color: white;
}

.controls {
	display: flex;
	justify-content: flex-end;
	margin-top: 5%;
}

.controls button {
	background: transparent;
	color: white;
	border-radius: 20px;
	border: solid 1px white;
	cursor: pointer;
	font-size: 15px;
	padding: 7px;
	transition: background 0.2s ease-in-out;
}

.controls button:hover {
	background: rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 576px) {
	.form-wrapper {
		width: 90%;
	}

	.form {
		width: 90%;
	}
}