@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Poppins:wght@100;300;400;700&family=Rajdhani:wght@400;700&display=swap');

.header {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	height: 8vh;
	width: 100%;
	text-align: center;
	background: rgba(0, 0, 0, 0.65);
	color: white;
	font-size: 30px;
	font-family: 'Comfortaa', cursive;
	font-family: 'Poppins', sans-serif;
	font-family: 'Rajdhani', sans-serif;
}

.app-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
